.Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);
    gap: 150px;
    padding: 30px;
    //border: 1px solid black;
}

.Header {
    padding: 30px;
    font-size: 30px;
    background-color: aquamarine;
    //margin: 60px;
}

.Image {
    height: 18rem;
    width: 15rem;
}
