.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    font-size: 30px;
    width: 100%;
    padding: 30px;
    background-color: aquamarine;
}

.NavLinks {
    text-decoration: none;
    color: black;
}

.Cart {
    display: flex;
    align-items: flex-end;
}
